<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trang xem chi tiết</title>

    <!--    Boostrap-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">

    <style>
        h1{
            text-align: center;
        }
    </style>
</head>
<body>
<h1>Chi tiết Sản phẩm</h1>
<a href="/product/home">
    <button type="button" class="btn btn-danger">Quay Lại</button>
</a>
<table class="table table-borderless table-striped table-earning">
    <tr>
        <th>Tên Sản Phẩm</th>
        <th>Giá</th>
        <th>Mô tả</th>
        <th>Nhà cung cấp</th>
    </tr>
    <tr th:each="product,status:${product}">
        <td th:text="${product.getName()}"></td>
        <td th:text="${product.getPrice()}"></td>
        <td th:text="${product.getDescription()}"></td>
        <td th:text="${product.getSupplier()}"></td>
    </tr>
</table>
</body>
</html>